@using logicProject.Models.EF
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/my-admin-lte/plugins/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/my-admin-lte/plugins/Ionicons/">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/my-admin-lte/css/AdminLTE.min.css">

    <link rel="stylesheet" href="~/my-admin-lte/css/skins/skin-black-light.css">

    <link href="~/my-admin-lte/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/my-admin-lte/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/my-admin-lte/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css" />
   
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="~/my-admin-lte/plugins/jQueryUI/jquery-ui.min.js"></script>*@
    <script src="~/my-admin-lte/plugins/datatables.net/js/jquery.dataTables.min.js"></script>

    <script src="~/my-admin-lte/plugins/select2/dist/js/select2.full.min.js"></script>

    <script src="~/my-admin-lte/plugins/moment/moment.js"></script>
    <script src="~/my-admin-lte/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/my-admin-lte/js/adminlte.min.js"></script>

</head>
<body class="hold-transition skin-black-light sidebar-mini">

    @{ DepartmentStaff user = (DepartmentStaff)HttpContext.Current.Session["DeptStaff"];
        bool tempHead = (bool)HttpContext.Current.Session["TempHead"];
        bool check = (bool)HttpContext.Current.Session["CheckHead"];}
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>L</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>LOGIC</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                <span class="hidden-xs">@user.StaffName</span>
                            </a>
                            <ul class="dropdown-menu" style="width:180px; border:1px solid #ccc;">
                                <!-- User image -->
                                <!-- Menu Footer-->
                                <li>
                                      <a href="/Login/Logout?type=d" class=""><i class="fa fa-sign-out"></i>Sign out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">@user.StaffType</li>

                    <li>
                        <a href="/Departments/Dashboard">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>


                    @if (user.StaffType == "staff")
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-files-o"></i>
                                <span>Request Orders</span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="/Request/RequestForm"><i class="fa fa-circle-o"></i> Requistion Form</a></li>
                                <li><a href="/Request/ViewFaveOrder"><i class="fa fa-circle-o"></i>Favourite Request</a></li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a href="/Request/OrderStatus">
                            <i class="fa fa-th"></i> <span>Order Status</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Product/ProductCatalog">
                            <i class="fa fa-list"></i> <span>Product Catalog</span>
                        </a>
                    </li>
                    @{ if (user.StaffType == "head" || tempHead == true)
                        {
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-pie-chart"></i>
                                    <span>Appoint & Authorize</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    @if (user.StaffType == "head" && check != true || tempHead == true && user.StaffType != "head")
                                    {
                                        <li><a href="/DeptHead/AppointRepresentative"><i class="fa fa-circle-o"></i> Appoint Representative</a></li>
                                    }
                                    <li><a href="/DeptHead/AuthorizeStaff"><i class="fa fa-circle-o"></i> Authorize Staff</a></li>
                                </ul>
                            </li>
                            if (user.StaffType == "head" && check != true || tempHead == true && user.StaffType != "head")
                            {
                                <li>
                                    <a href="/Request/GetLocation">
                                        <i class="fa fa-envelope"></i> <span>Collection Point</span>
                                    </a>
                                </li>
                            }
                        }
                    }
                    @if (user.Department.RepId == user.StaffId)
                    {
                        <li>
                            <a href="/Representative/DisbursementList">
                                <i class="fa fa-calendar"></i> <span>Disbursement List</span>
                            </a>
                        </li>
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/my-admin-lte/js")

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/my-admin-lte/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
