@model IEnumerable<logicProject.Models.EF.Supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Manager/_ManagerLayout.cshtml";
    //Written By Antonio
}

<h2>Supplier List</h2>

<button>
    @Html.ActionLink("Add New Supplier", "CreateSupplier")
</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GSTRegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaxNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var supplier in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => supplier.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => supplier.GSTRegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => supplier.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => supplier.FaxNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => supplier.PhNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => supplier.Address)
            </td>
            <td>
                @Html.ActionLink("Items Supplied", "ItemSupplied", new { supplierId = supplier.SupplierId }) |
                @Html.ActionLink("Edit", "EditSupplier", new { id = supplier.SupplierId }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.SupplierId }) |*@
                @Html.ActionLink("Delete", "DeleteSupplier", new { id = supplier.SupplierId })
            </td>
        </tr>
    }

</table>
