@using logicProject.Models.EF;
@model logicProject.Models.EF.Adjustment
@using logicProject.Models.DBContext; @*importing the database to retrieve the user name*@


@{
    ViewBag.Title = "ViewVoucherList";
    Layout = "~/Views/Supervisor/_SupervisorLayout.cshtml";
    List<Adjustment> cart_list = (List<Adjustment>)ViewData["cart_list"];
    LogicEntities db = new LogicEntities();
    //Written by Udaya
}

<h2>Store Manager Voucher List</h2>
<br />

<table border="1">
    <thead>
        <tr>
            <td><strong>Voucher No</strong></td>
            <td><strong>Store Clerk</strong></td>
            <td><strong>Date Created</strong></td>
            <td><strong>Status</strong></td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in cart_list)
        {

            <tr>
                <td>
                    <button onclick='location.href="@Url.Action("ApproveForm","Manager", new RouteValueDictionary ( new { id = @item.AdjustmentId } ))"' name="button">@item.AdjustmentId</button>
                </td>
                <td>
                    @db.StoreStaff.Where(e => e.StaffId == item.StaffId).Select(e => e.StaffName).First()
                    @*@item.StaffId*@
                </td>
                <td>
                    @Convert.ToDateTime(@item.AdjustedDate).Date.ToString("dd/MM/yyyy")

                </td>
                <td>
                    @item.Status
                </td>
            </tr>

        }

    </tbody>
</table>

<style>
    table {
        border: 1px solid black;
        width: 100%;
    }

    tr, td {
        padding: 10px;
        border: 1px solid black;
        text-align: center;
    }
</style>