@model logicProject.Models.EF.Authorization
@{
    ViewBag.Title = "AuthorizeStaff";
    List<logicProject.Models.ViewModel.AuthorizationViewModel> list = ViewData["AuthList"] as List<logicProject.Models.ViewModel.AuthorizationViewModel>;
   // List<logicProject.Models.EF.Authorization> list = ViewData["AuthList"] as List<logicProject.Models.EF.Authorization>;
}

<h2>AuthorizeStaff</h2>

@* Product List *@
<div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Staff Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
            @foreach(var a in list)
            {
                <tr>
                    <td>@a.staffName</td>
                    <td>@a.startDate<input type="hidden" class="sDate" value="@a.auth.StartDate"></td> 
                    <td>@a.endDate<input type="hidden" class="eDate" value="@a.auth.EndDate"></td>
                    <td>@Html.ActionLink("Delete", "DeleteAuth", new { id = a.auth.AuthNo })</td>
                </tr>
            }
        </thead>
    </table>
    <div style="float: left; width: 40%">
        <select class="StaffName" name="staffname" style="width:100%"></select>
        

        <div class="row">
            <div class="form-group col-md-6">
                <label>Start Date:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.EditorFor(model => model.StartDate, new { id = "StartDate" })
                </div>
                <!-- /.input group -->
            </div>
            <div class="form-group col-md-6">
                <label>End Date:</label>
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    @Html.EditorFor(model => model.EndDate, new { id = "EndDate" })
                </div>
                <!-- /.input group -->
            </div>
        </div>

        <br />
        <input type="submit" value="Submit" class="submitBtn" />
    </div>
</div>



<script>
    

    $("#StartDate").datepicker({
        onSelect: function () {
            var startDateObj = $(this).datepicker('getStartDate');
            success: console.log(startDateObj)
        }
    });

    $("#EndDate").datepicker({
        onSelect: function () {
            
        }
    }).on("change", function () {
        console.log("Got change event from field");
        let startDate = $("#StartDate").val();
        let endDate = $("#EndDate").val();
        if (endDate < startDate) {
            alert("Date Error.");
            $("#EndDate").val("");
        }
    });

    function validateDate(startDate,endDate) {
        let sdates = document.getElementsByClassName('sDate');
        let edates = document.getElementsByClassName('sDate');
        
        for (let i = 0; i < sdates.length; i++) {
            let edate = edates[i].addEventListener(this).val();
            let sdate = sdates[i].addEventListener(this).val();
            if (edate >= startDate && sdate <= endDate) {
                return true;
            } else {
                alert("Date Error! Choose other date range or remove the staff on that date");
                return false;
            }
        }
    }

    $(document).ready(function () {
       

        $(".StaffName").select2({
            placeholder: "Search Employee Name",
            theme: "classic",
            ajax: {
                type: "GET",
                url: "http://localhost/logic/DeptHead/GetStaffList",
                success: console.log("success"),
                dataType: "json",
                data: function (params) {
                    return {
                        searchTerm: params.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (obj) {
                            return {
                                id: obj.id,
                                text: obj.text
                            }
                        })
                    };
                }
            }
        });

        $(".submitBtn").click(function () {
            let selected = $(".StaffName option:selected").text();
            let startDate = $("#StartDate").val();
            let endDate = $("#EndDate").val();
            
                $.ajax(
                    {
                        url: "http://localhost/logic/DeptHead/AppointStaff?staffname=" + selected + "&getStartDate=" + startDate + "&getEndDate=" + endDate,
                        contentType: 'application/json',
                        dataType: 'json',
                        type: 'POST',
                        success: function (data) {
                            alert(data.message);
                            if (data.redirect != null)
                                window.location.href = data.redirect;
                        }
                    });
            
        })
    });



</script>

