@model IEnumerable<logicProject.Models.EF.Request>

@{
    ViewBag.Title = "OrderStatus";
    bool show = ViewData["ApproveOrNot"] != null;
}
<h3>Request Orders</h3>
<div class="box">
    <div class="box-body">
        <table class="table table-responsive no-padding" id="dtable">
            <thead>
                <tr>
                    <th>
                        Department Name
                    </th>
                    <th>
                        Request Date
                    </th>
                    <th>
                        Request Form No.
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.DeptName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReqDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestFormId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @if (show && item.Status == "Pending")
                            {
                                @Html.ActionLink("Approve?", "RequestApproval", new { requestId = item.RequestId }, new { @class = "btn btn-xs btn-flat btn-info" })
                            }
                            @Html.ActionLink("Details", "ViewRequestDetails", new { requestId = item.RequestId }, new { @class = "btn btn-xs btn-flat btn-default" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
    <script>
        $(document).ready(function () {
            $('#dtable').DataTable({
                "columnDefs": [
                    {
                        'searchable': false,
                        'targets': [4]
                    }
                ]

            });
        });
    </script>
