@model IEnumerable<logicProject.Models.EF.Request>

@{
    ViewBag.Title = "OrderStatus";
    bool show = ViewData["ApproveOrNot"]!=null;
}

<div class="box">
    <table class="table table-responsive no-padding">
        <tr>
            <th>
                Department Name
            </th>
            <th>
                Request Date
            </th>
            <th>
                Request Form No.
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DeptName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReqDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestFormId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (show && item.Status=="Pending") {
                    @Html.ActionLink("Approve?", "RequestApproval", new { requestId = item.RequestId })
                    }   |
                    @Html.ActionLink("Details", "ViewRequestDetails", new { requestId = item.RequestId }) |
                </td>
            </tr>
        }

    </table>
</div>
