@using logicProject.Models.EF
@model IEnumerable<logicProject.Models.ViewModel.RequestViewModel>

@{
    ViewBag.Title = "ViewRequestDetails";
    Request req = ViewData["request"] as Request;
    var staff = ViewData["staff"];
}

<p>
    FormId: @req.RequestFormId
</p>
<p>Order Status: @req.Status</p>
<p>Requested by: @staff</p>
<div class="box">
    <table class="table table-responsive">

        <tr>

            <th>
                Category
            </th>
            <th>
                Description
            </th>
            <th>
                Unit
            </th>
            <th>
                Quantity
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>

                <th>
                    @Html.DisplayFor(modelItem => item.products.Category)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.products.Description)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.products.Unit)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.requestDetails.ReqQty)
                </th>
            </tr>
        }
    </table>
</div>
<label>Remark:</label>
<textarea class="form-control" 
            cols="20" disabled>@req.Remark</textarea>
<a href="/Request/OrderStatus">Back to List</a>
